{% extends "layouts/main.html" %}

{% set pageName="Tell us more about what else you can juggle" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="juggling-trick" method="post">

        {{ govukTextarea({
          label: {
            text: "Tell us more about what else you can juggle",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "juggle-more",
          name: "juggleMore",
          value: data['juggleMore']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
